.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}

.loading {
  animation: rotation 1.5s infinite ease-in;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
